# dependencies
/node_modules
/frontend/node_modules

# next.js
/.next
/frontend/.next
/out
/frontend/out

# production
/build
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
/backend/.env
/backend/.venv
/frontend/.env.local

# vercel
.vercel
/frontend/.vercel

# typescript
*.tsbuildinfo

# python
__pycache__/
*.pyc
